<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <RadzenStack Gap="0" class="rz-py-8 rz-px-12">

                    <RadzenAlert AlertStyle="AlertStyle.Info" ShowIcon="false" Variant="Variant.Flat" Shade="Shade.Lighter">
                        <p>Please wait,we are authorizing the user .</p>
                    </RadzenAlert>
                </RadzenStack>
              
            </Authorizing>

            <NotAuthorized>
                <RedirectToLogin></RedirectToLogin>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <RadzenStack Gap="0" class="rz-py-8 rz-px-12">

                    <RadzenAlert AlertStyle="AlertStyle.Danger" ShowIcon="false" Variant="Variant.Flat" Shade="Shade.Lighter">
                        <p>Sorry, there's nothing at this address.</p>
                    </RadzenAlert>
                </RadzenStack>
               
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
